<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" executionOrder="depends,defects" forceCoversAnnotation="true" beStrictAboutCoversAnnotation="false" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Set values to enable optional integration tests -->
    <env name="S3_KEY" value=""/>
    <env name="S3_SECRET" value=""/>
    <env name="S3_BUCKET" value=""/>
    <env name="S3_REGION" value=""/>
  </php>
  <!-- exclude integration tests by default -->
  <groups>
    <exclude>
      <group>integration</group>
    </exclude>
  </groups>
</phpunit>
